.maindiv
{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    height: 100vh;
    width: 0;
    transition: 0.5s;
}

ul{
    text-align: center;
    
}

li{
    list-style-type: none;
    margin: 30px;
    color: white;
    font-size: 40px;
    display: none;
}