body
{
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

li
{
    text-align: center;
    font-size: 0.8cm;
}

h2{
    text-align: center;
    font-size:1cm ;
    color: azure;
}

